<header>
    <img 
     src="assets/img/imgCurriculo.png"
     alt="Image do curriculo"
     width="150"
     height="150">
     <h1>MATHEUS VIANA</h1>
</header>

<aside>
    <div class="container">
        <p>Full-Stack Angular | JavaScript</p>
        <p>Brasilia, Ceilândia, Brasil</p>
        <p>A carreira de programação recentemente tem despertado novos interesses e 
            desafios em minha vida, contudo, pude desbravar conhecimentos novos e 
            estudar a fundo o que é ser um Dev. Por isso, resolvi abraçar esta oportunidade!</p>

            <nav>
                <ul>
                    <li>
                        <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">CURRICULO</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="https://www.google.com.br" target="_blank" class="btn btn-secondary">LinkedIn</a>
                    </li>
                </ul>
            </nav>


         
                <section>
                    <figure>
                    <img
                     src="assets/icons/whatsapp.svg"
                     alt="Imagem de whatsapp"
                     width="22px"
                     height="24px" />
                     
                     <figcaption>
                        <a href="https://api.whatsapp.com/send/?phone=5561993975500&text&type=phone_number&app_absent=0" target="blank"></a>
                        <strong>Envie uma mensagem para:</strong>
                        <p>Whatsapp: (61) 99397-5500</p>
                     </figcaption>
                    </figure>
                        <figure>
                            <img 
                            src="assets/icon/mail.svg" 
                            alt=""
                            height="24px"
                            width="22px"
                            />
                            <figcaption>
                                <a href="mailto:matheusgoldship@gmail.com"></a>
                                <strong>Envie um e-mail para:</strong>
                                <p>matheusgoldship&#64;gmail.com</p>
                            </figcaption>
                        </figure>

                </section>
             


    </div>
</aside>